
{% if global.user %}

    <p>{{ 'core.user.register.loggedin' | trans({ '%name%': global.user.displayName }) }}</p>
    <p><a href="{{ path('core.user.logout') }}">{{ 'core.user.register.logout' | translate }}</a></p>

{% else %}

    <h1>{{ 'core.user.register.heading' | translate }}</h1>

    <p class="text-muted lead">
        {{ 'core.user.register.existing' | translate }}
        <a href="{{ path('core.user.login') }}">{{ 'core.user.register.login' | translate() }}</a>
    </p>

    {% include "layouts/grid.html.twig" %}

{% endif %}
