{#
Template for an email message sent to authorize a password reset.
Variables passed to this template:
    user: The User instance.
    url: The link to click to reset the password.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    {{ 'user.mail.reset.subject' | translate }}
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

{{ 'user.mail.reset.title' | translate }}

{{ 'user.mail.reset.text' | translate }}
{{ url }}

_______________________________________________________________
{{ 'user.mail.reset.not.title' | translate }}

{{ 'user.mail.reset.not.text' | translate }}
{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>{{ 'user.mail.reset.title' | translate }}</h1>

    <p>
        <a href="{{ url }}">{{ 'user.mail.reset.text' | translate }}</a>
    </p>

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>{{ 'user.mail.reset.not.title' | translate }}</strong>
        <br/>
        {{ 'user.mail.reset.not.text' | translate }}
    </p>

{%- endblock -%}
