{#
Template for an email message sent to confirm an email address.
Variables passed to this template:
    user: The SimpleUser\User instance.
    url: The link to click to complete the confirmation process.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    {{ 'user.mail.verify.subject' | translate }}
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

{{ 'user.mail.verify.title' | translate }}

{{ 'user.mail.verify.text' | translate }}
{{ url }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>{{ 'user.mail.verify.title' | translate }}</h1>

    <p>
        <a href="{{ url }}">{{ 'user.mail.verify.text' | translate }}</a>.
    </p>

{%- endblock -%}
