
{% if global.user %}

    <p>{{ 'core.user.register.loggedin' | trans({ '%name%': global.user.displayName }) }}</p>
    <p><a href="{{ path('user.logout') }}">{{ 'core.user.register.logout' | translate }}</a></p>

{% else %}

    <h1>{{ 'core.user.register.heading' | translate }}</h1>

    <div class="col-md-12 text-muted lead">
        {{ 'core.user.register.existing' | translate }}
        <a href="{{ path('dime.user.login') }}">{{ 'core.user.register.login' | translate() }}</a>
    </div>

    <div class="row">

        <div class="col-md-6">
            {% include "layouts/grid.html.twig" %}
        </div>

        <div class="col-md-6">
            <div class="redtext">
                {{ 'dime.register.faq' | translate | raw }}
            </div>
            <br/><br/>
            <p>{{ 'dime.register.contact' | translate | raw }}</p>
        </div>

    </div>

{% endif %}
