<div>

    <h3>Table Layout</h3>

    {% for field in layout.fields %}
        {{field.id}} / {{field.dataclass}} / {{field.classtype}}<br/>
    {% endfor %}

    <table id="register-table" data-toggle="table">

        <thead>
            <tr>
                <th>Item</th>
                {% if modtype is defined %}
                    <th>Type</th>
                {% endif %}
                <th>Created By</th>
                <th>Created On</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item[itemkey] }}</td>
                    {% if modtype is defined %}
                        <td>{{ item[modtype] }}</td>
                    {% endif %}
                    <td>{{ item.cre_by }}</td>
                    <td>{{ item.cre_on }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
