<div {%- if layout.responsive %} class="table-responsive" {%- endif -%} >

    <h3>Table Layout</h3>

    {% for field in layout.fields %}
        {{field.id}} / {{field.dataclass}} / {{field.classtype}}<br/>
    {% endfor %}

    {% set table_class %}
        table
        {% if layout.striped %} table-striped {%- endif %}
        {% if layout.bordered %} table-bordered {%- endif %}
        {% if layout.hover %} table-hover {%- endif %}
        {% if layout.condensed %} table-condensed {%- endif %}
    {% endset %}

    <table id="{{layout.id}}"
           class="{{table_class}}"
           data-toggle="table"
           data-classes="{{table_class}}"
           {% if layout.pagination -%} data-pagination="true" {%- endif %}
           {% if layout.search -%} data-search="true" {%- endif %}
           {% if not layout.header -%} data-show-header="false" {%- endif %}
           {% if layout.footer -%} data-show-footer="true" {%- endif %}
           >

        <thead>
            <tr>
                <th>Item</th>
                {% if modtype is defined %}
                    <th>Type</th>
                {% endif %}
                <th>Created By</th>
                <th>Created On</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item[itemkey] }}</td>
                    {% if modtype is defined %}
                        <td>{{ item[modtype] }}</td>
                    {% endif %}
                    <td>{{ item.cre_by }}</td>
                    <td>{{ item.cre_on }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
