{% extends "ark_main_layout.html.twig" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{ form_start(item_form) }}
            {{ form_widget(item_form) }}
            {{ form_end(item_form) }}
        </div>
    </div>
    {% if col2_form is defined %}
        <div class="row">
            <div class="col-md-8">
                {{ form_start(col1_form) }}
                {{ form_widget(col1_form) }}
                {{ form_end(col1_form) }}
            </div>
            <div class="col-md-4">
                {{ form_start(col2_form) }}
                {{ form_widget(col2_form) }}
                {{ form_end(col2_form) }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                {{ form_start(col1_form) }}
                {{ form_widget(col1_form) }}
                {{ form_end(col1_form) }}
            </div>
        </div>
    {% endif %}
    {% if col3_form is defined %}
        <div class="row">
            <div class="col-md-12">
                {{ form_start(col3_form) }}
                {{ form_widget(col3_form) }}
                {{ form_end(col3_form) }}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
