{% use "bootstrap_3_layout.html.twig" %}

{% block panel_row -%}
    <div class="form-group">
        <div class="{{ block('form_panel_class') }}">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock panel_row %}

{% block submit_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn-xs btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block panel_widget %}

    {% spaceless %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">{{ title|trans }}</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        {{ form_widget(form.lock) }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% for child in form.children if child.vars.id != form.save.vars.id %}
                    {{ form_row(child) }}
                {% endfor %}
            </div>
            <div class="panel-footer text-right">
                {{ form_widget(form.save) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock panel_widget %}

{% block event_row -%}
    <div class="form-group">
        <div class="form-inline">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock event_row %}

{% block embed_row -%}
    {{ embed|raw }}
{%- endblock embed_row %}

{% block myweather_row -%}
    <h3>{{ title }}</h3>
    <a href="http://www.accuweather.com/en/gb/london/ec4a-2/weather-forecast/328328" class="aw-widget-legal">
        <!--By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.-->
    </a>
    <div id="awcc1468847702258" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-gb" data-useip="true" data-uid="awcc1468847702258"></div>
    <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
{%- endblock myweather_row %}
