{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_panel_class -%}
col-sm-12
{%- endblock form_panel_class %}

{% block panel_row -%}
    <div class="form-group">
        <div class="{{ block('form_panel_class') }}">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock panel_row %}

{% block submit_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn-xs btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block panel_widget %}

    {% spaceless %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">{{ title }}</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        {{ form_widget(form.lock) }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% for child in form.children if child.vars.id != form.save.vars.id %}
                    {{ form_row(child) }}
                {% endfor %}
            </div>
            <div class="panel-footer text-right">
                {{ form_widget(form.save) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock panel_widget %}

{% block event_row -%}
    <div class="form-group">
        <div class="form-inline">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock event_row %}
