{# ARK GridLayout template for standard Bootstrap grid #}

{% if element.type.id == 'form' and form %}
    {{ form_start(form) }}
{% endif %}

{% if label %}
    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h4>{{ label | translate }}</h4>
        </div>
    </div>
{% endif %}

{% for row in children %}

    {% set rowlength = row | length %}
    {% if rowlength > 1 %}
        <div class="row">
    {% endif %}

    {% for col in row %}

        {% if col[0]['state']['width'] != null %}
            <div class="col-md-{{- col[0]['state']['width'] -}}" >
        {% elseif rowlength > 12 %}
            <div class="col-md-12">
        {% elseif rowlength > 6 %}
            <div class="col-md-1">
        {% elseif rowlength >= 5 %}
            <div class="col-md-2">
        {% elseif rowlength == 4 %}
            <div class="col-md-3">
        {% elseif rowlength == 3 %}
            <div class="col-md-4">
        {% elseif rowlength == 2 %}
            <div class="col-md-6">
        {% endif %}

        {% for child in col %}
            {{ child.element.renderView(child, forms, form) | raw }}
        {% endfor %}

        {% if rowlength > 1 %}
            </div>
        {% endif %}
    {% endfor %}

    {% if rowlength > 1 %}
        </div>
    {% endif %}

{% endfor %}

{% if element.type.id == 'form' and form %}
    {{ form_end(form) }}
{% endif %}
