{# Standard table layout using only HTML5/Bootstrap #}

<div class='table-wrapper-div'>

    <table
        id="{{element.id}}"
        class="{{ element.classes }}"
        data-toggle="table"
        data-classes="{{ element.classes }}"
        data-sort-name="id"
        data-show-refresh="{{ element.canRefresh }}"
        data-show-toggle="{{ element.canToggleView }}"
        data-show-columns="{{ element.canChooseColumns }}"
        data-mobile-responsive="true"
        data-show-export="{{ element.canExportData }}"
        data-switchcardview="{{ element.canToggleView }}"
        data-click-to-select="true"
        {% if element.dataUrl %}
            data-url="{{ element.dataUrl }}"
        {% endif %}
        icons="{ columns: 'glyphicon-th-list icon-th-list' }">

        {% if element.showCaption %}
            <caption>{% element.keyword | translate('caption') %}</caption>
        {% endif %}

        {% if element.showHeader %}
            <thead>
                <tr>
                    {% if element.selection %}
                        <th class="checkedhead" data-field="checked" data-sortable="false" data-switchable="false" data-card-visible="false"></th>
                    {% endif %}
                    {% if element.image %}
                        <th class="thumbimagehead" data-field="{{element.image}}" data-title="{{element.image}}" data-sortable="false"></th>
                    {% endif %}
                    {% for child in children %}
                        <th data-field="{{ child.element.id }}" data-title="{{ child.state.keyword | translate }}" data-sortable="true" data-sorter="alphanum" data-visible="{{ child.state.visible }}" data-card-visible="false">
                            {{ child.state.keyword | translate }}
                        </th>
                    {% endfor %}
                    <th class="controlshead" data-field="controls" data-sortable="false" data-switchable="false" data-card-visible="false"></th>
                </tr>
            </thead>
        {% endif %}

        <tbody>
            {% for item in data %}
                <tr data-unique-id="{{ item.id }}">
                    {% if table.selection %}
                        <td class="not-card-visible">
                            <span class="tablecheckbox glyphicon glyphicon-unchecked"></span>
                        </td>
                    {% endif %}
                    {% if table.image %}
                        <td class="thumbimage">
                            {% set image = item.property(table.image).value() %}
                            {% if image is not empty %}
                                {% if item.property(table.image).attribute.hasMultipleOccurrences %}
                                    {% set image = image[0] %}
                                {% endif %}
                                <img src="{{path('img', {'image': image.id}) ~ '?p=thumb'}}" alt=''/>
                            {% else %}
                                <span class="glyphicon glyphicon-picture placeholder-img"></span>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% for child in children %}
                        {% set child = child | merge({'data' : item.property(child.state.name) }) %}
                        <td>
                            <span class="cell-label">{{ child.state.keyword | translate }}</span>
                            {{ child.element.renderView(child, forms, form) | raw }}
                        </td>
                    {% endfor %}
                    <td class="controls">
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        {% if table.showFooter %}
            <tfoot>
            </tfoot>
        {% endif %}

    </table>

</div>
