{# Define the standard content block #}
{% block content %}

    {% block flash %}{% endblock %}

    {% if layout is defined %}

        {{ layout.renderView(data, forms)|raw }}

    {% elseif content[2] is defined %}

        <div class="row">
            <div class="col-xs-4 content-col-1">
                {{ content[0]|raw }}
            </div>
            <div class="col-xs-4 content-col-1">
                {{ content[1]|raw }}
            </div>
            <div class="col-xs-4 content-col-2">
                {{ content[2]|raw }}
            </div>
        </div>

    {% elseif content[1] is defined %}

        <div class="row">
            <div class="col-xs-6 content-col-1">
                {{ content[0]|raw }}
            </div>
            <div class="col-xs-6 content-col-2">
                {{ content[1]|raw }}
            </div>
        </div>

    {% elseif content[0] is defined %}

        <div class="row">
            <div class="col-xs-12 content-col-2">
                {{ content[0]|raw }}
            </div>
        </div>

    {% elseif content is defined %}

        <div class="row">
            <div class="col-xs-12 content-col-2">
                {{ content|raw }}
            </div>
        </div>

    {% endif %}

{% endblock content %}
