{% block carousel -%}

<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
     <div class='carousel-outer'>
        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
        {% for key, item in data %}
            <div class='item
                {% if key == 0 %}
                     active
                 {% endif %}
            '>
            {% set images = item.property('image').value() %}
            {% if images is not empty %}
                {% set itempath = path('dime.finds.view', {'id': item.id}) %}
                <a href="{{itempath}}"><img src="{{path('img', {'image': images[0].id}) ~ '?p=preview'}}" alt='' /></a>
            {% endif %}
            </div>
        {% endfor %}
        </div>

        <!-- Controls -->
        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
            <span class='glyphicon glyphicon-chevron-left'></span>
        </a>
        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
            <span class='glyphicon glyphicon-chevron-right'></span>
        </a>
    </div>

    <!-- Indicators -->
    <ol class='carousel-indicators mCustomScrollbar'>
        {% for key, item in data %}
            <li data-target='#carousel-custom' data-slide-to='{{ key }}'
                {% if key == 0 %}
                      class='active'
                 {% endif %}
             >
             {% set images = item.property('image').value() %}
             {% if images is not empty %}
                 <img src="{{path('img', {'image': images[0].id}) ~ '?p=thumb'}}" alt='' />
             {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>

<div class="carouselextratext">

{% for key, item in data %}
    <div class="carouselextratext_{{ key }}">
        {% for child in children %}
            {% set child = child | merge({'data' : item }) %}
            {% dump(child) %}
            <div class="homefield">{{ child.element.renderView(child) | raw }}</div>
        {% endfor %}
    </div>
{% endfor %}

</div>

{%- endblock carousel %}
