{# Block to write out correctly formatted field value #}
{% block dating %}

    {% if state.mode is same as ("edit") %}
        <div class="form-group">
            {{ form_label(form.period) }}
            <div class="form-group-widget col-xs-11 col-sm-7 col-lg-7">
                <div class="col-sm-9 dating-period">
                    {{ form_widget(form.period) }}
                </div>
                <div class="col-sm-3 dating-year">
                    {{ form_widget(form.year, { 'attr': { 'placeholder': 'dime.find.class.unknown' } }) }}
                </div>
            </div>
            {{ form_help(form, {'state': state, 'help': help}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.period_span) }}
            <div class="form-group-widget col-xs-11 col-sm-7 col-lg-7">
                <div class="col-sm-9 dating-period">
                    {{ form_widget(form.period_span) }}
                </div>
                <div class="col-sm-3 dating-year">
                    {{ form_widget(form.year_span, { 'attr': { 'placeholder': 'dime.find.class.unknown' } }) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            {{ form_label(form.display_period) }}
            <div class="form-group-widget col-xs-11 col-sm-7 col-lg-7">
                {{ form_widget(form.display_period) }}
                {{ form_widget(form.period) }}
                {{ form_widget(form.period_span) }}
             </div>
             {{ form_help(form, {'state': state, 'help': help}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.display_year) }}
            <div class="form-group-widget col-xs-11 col-sm-7 col-lg-7">
                {{ form_widget(form.display_year) }}
                {{ form_widget(form.year) }}
                {{ form_widget(form.year_span) }}
            </div>
        </div>
    {% endif %}

    {% do form.setRendered %}

{% endblock dating %}
