{# Block to write out correctly formatted field value #}
{% block dating %}
<div class="form-group">

    {{ form_label(form) }}

    <div class="col-sm-8 col-lg-7">

        {% if (state.mode is sameas("edit")) %}
            <div class = "simple-dating">
                <div class="col-sm-11 form-period">
                    <select id="simple_dating_input"></select>
                </div>
                <span id="advanced-dating-button" class="advanced-dating-button dating-button"><span class="glyphicon glyphicon-expand"></span></span>
            </div>
            <div class = "advanced-dating">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_widget(form.period) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.period_span) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-year">
                        {{ form_widget(form.year) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.year_span) }}
                    </div>
                </div>
                <span id="simple-dating-button" class="advanced-dating-button dating-button"><span class="glyphicon glyphicon-collapse-up"></span></span>
            </div>
        {% else %}
             <div class="row">
                 <div class="col-sm-6">
                     {{ form_widget(form.period) }}
                 </div>
                 <div class="col-sm-6">
                     {{ form_widget(form.period_span) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_widget(form.year) }}
                </div>
                <div class="col-sm-6">
                    {{ form_widget(form.year_span) }}
                </div>
            </div>
        {% endif %}

    </div>

    {% do form.setRendered %}

</div>

{% endblock dating %}
