{# Block to write out correctly formatted field value #}
{% block fieldvalue -%}

    {% if field is defined and item[field.name]is defined %}
        {% if field.type == 'date' %}
            {{ item[field.name].format('Y-m-d H:i:s') }}
        {% elseif field.type in ['action', 'attribute', 'modtype'] %}
            {{ item[field.name]|trans }}
        {% elseif field.type == 'itemkey' %}
            <a href="{{item[itemno]}}">{{ item[field.name] }}</a>
        {% else %}
            {{ item[field.name] }}
        {% endif %}
    {% endif %}

{%- endblock fieldvalue %}
