{# Define the map block #}
{% block map %}

<div class = "mapview">

    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <div class="btn-group dropdown map layer-select">
        <button class="btn btn-default dropdown-toggle layer-select" type="button" id="mapLayerMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dime-icon icon-map small"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu layer-select" aria-labelledby="mapLayerMenu">
            <li><a class="layer-select selected" value="aerialwithlabels" selected>{{ 'map.layer.aerial.labels' | translate }}</a></li>
            <li><a class="layer-select" value="aerial">{{ 'map.layer.aerial' | translate }}</a></li>
            <li><a class="layer-select" value="road">{{ 'map.layer.road' | translate }}</a></li>
            <li><a class="layer-select" value="foraar">{{ 'map.layer.foraar' | translate }}</a></li>
            <li><a class="layer-select" value="skaermkort">{{ 'map.layer.skaermkort' | translate }}</a></li>
        </ul>
    </div>
    <div class="btn-group dropdown map style-select">
        <button class="btn btn-default dropdown-toggle style-select" type="button" id="mapStyleMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dime-icon icon-heatmap small"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu style-select" aria-labelledby="mapStyleMenu">
            {% if global.user %}
                <li><a class="style-select-option" value="distribution">{{ 'map.style.distribution' | translate }}</a></li>
            {% endif %}
            <li><a class="style-select-option" value="choropleth">{{ 'map.style.choropleth' | translate }}</a></li>
        </ul>
    </div>

    <div id="map" class="map search_map"></div>
    
    <div id="map-legend" class="map-legend">
    <span class="map-legend-label">{{ 'map.legend.max' | translate }}</span>
    <div class="legend-image"></div>
    <span class="map-legend-label">{{ 'map.legend.min' | translate }}</span>
    </div>

        <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>

        <script>

            var layerConfig = [

                {
                    name: 'aerialwithlabels',
                    visible: true,
                    preload: Infinity,
                    type: 'BingMaps',
                    source: {
                        key: 'Ak5AqjsEQ44KtAl7jHhrjGuzNshN1fZv3MOx2MUi0p4zFmq6XeWLKmyqeP2UgJK3',
                        imagerySet: 'AerialWithLabels'
                    }
                },

                {
                    name: 'aerial',
                    visible: false,
                    preload: Infinity,
                    type: 'BingMaps',
                    source: {
                        key: 'Ak5AqjsEQ44KtAl7jHhrjGuzNshN1fZv3MOx2MUi0p4zFmq6XeWLKmyqeP2UgJK3',
                        imagerySet: 'Aerial'
                    }
                },

                {
                    name: 'road',
                    visible: false,
                    preload: Infinity,
                    type: 'BingMaps',
                    source: {
                        key: 'Ak5AqjsEQ44KtAl7jHhrjGuzNshN1fZv3MOx2MUi0p4zFmq6XeWLKmyqeP2UgJK3',
                        imagerySet: 'Road'
                    }
                },

                //http://kortforsyningen.kms.dk/service?request=GetCapabilities&version=1.1.1&ticket=5e1b579892dc719ede8e82528bde1ff8&servicename=orto_foraar&service=WMS
                {
                    name: 'foraar',
                    visible: false,
                    preload: Infinity,
                    type: 'TileWMS',
                    source: {
                        url: 'http://kortforsyningen.kms.dk/service?servicename=orto_foraar&service=WMS&ticket={{ data['kortforsyningenticket'] | raw }}&',
                        params: {
                            'LAYERS': 'orto_foraar',
                            'VERSION': '1.1.1',
                            'FORMAT': 'image/png',
                            'TILED': true
                        }
                    }
                },

                //http://kortforsyningen.kms.dk/service?request=GetCapabilities&version=1.1.1&ticket=2afbc1eca7a5cb1d8c315a229b1f1307&servicename=topo_skaermkort&service=WMS
                {
                    name: 'skaermkort',
                    visible: false,
                    preload: Infinity,
                    type: 'TileWMS',
                    source: {
                        url: 'http://kortforsyningen.kms.dk/service?ticket={{  data['kortforsyningenticket'] | raw }}&servicename=topo_skaermkort&',
                        params: {
                            'LAYERS': 'topo_skaermkort',
                            'VERSION': '1.1.1',
                            'FORMAT': 'image/png',
                            'TILED': true
                        }
                    }
                }

            ];

            ywkts = [];

            twkts = [];

            {% if global.user %}

				var default_overlay = "distribution";
        	
                {% for item in data[layout.name] %}
                    {% set findpoint = item.property('findpoint').value() %}
                    {% if findpoint['coordinates'] is defined %}
                        ywkts[{{ item.id }}] = '{{ findpoint['coordinates'] }}';
                    {% else %}
                        'POINT (0 0)';
                    {% endif %}
                {% endfor %}

            {% else %}
            
				var default_overlay = "choropleth";

            {% endif %}


        </script>

    </div>

</div>

{% endblock map %}
