{# Block to write out correctly formatted field value #}
{% block mapmodal %}


<div class="row register-buttons">
<div class="col-xs-6">
<div class="form-group">

<div class="register-button">
  <button type="button" id="modal_mapbtn" name="modal_mapbtn" class="btn btn-default" data-toggle="modal" data-target="#map-modal"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></button>
</div>
  <div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="datingModal" aria-hidden="true" style="display: none;">
    <div class="mapmodalwrapper">
        <div id="mapmodal" class="mappick"></div>
        <div class="row register-buttons">
          <div class="col-xs-6 register-button">
            <button id="getuserlocation" class="btn mapmodal-button getuserlocation">{{ 'dime.getuserlocation' | translate }}</button>
          </div>
          <div class="col-xs-6 register-button">
            <button id="mappickclose" class="btn mapmodal-button mappickclose" data-dismiss="modal">{{ 'dime.close' | translate }}</button>
          </div>
        </div>
    </div>
  </div>


  <script>
      var mapPin = "{{ asset('images/icons/pin.png', 'frontend') }}";
  </script>


    <div class="mappick-fields" style="display:none;">

        <div class="mappick-utm">
          {{ form_widget(form.utmEasting, {'attr': {'class': 'mappick-utm-control'}}) }}
          {{ form_widget(form.utmNorthing, {'attr': {'class': 'mappick-utm-control'}}) }}
        </div>
        <div class="mappick-decimal">
            {{ form_widget(form.easting) }}
            {{ form_widget(form.northing) }}
        </div>

        {{ form_row(form.geometry) }}
        {{ form_row(form.srid) }}
        {{ form_row(form.format) }}

    </div>

    {% do form.setRendered %}

    </div>
</div>

{% endblock mapmodal %}
