{# ARK Message template for standard Bootstrap grid #}

<script>

window.message_vocabulary = [];

{%  for term in state.event_vocabulary.terms %}
    message_vocabulary['{{ term.keyword }}'] = "{{ term.keyword | translate }}";
{% endfor %}

window.useractorid = "{{ workflow.actor.id }}";

window.eventtranslation = "{{ 'core.message.notification.event' | translate }}";

window.datetranslation = "{{ 'core.message.sent_at' | translate }}";

window.sendertranslation = "{{ 'core.message.sender' | translate }}";

window.itemtranslation = "{{ 'dime.find' | translate }}";

window.eventinitial = "";

window.dateinitial = "";

window.senderinitial = "";

window.iteminitial = "";

{% if data %}
    window.message_id = {{ data.id }};

    window.eventinitial = "{{ data.event.term.keyword | translate }}";

    window.dateinitial = "{{ data.sentAt.datetime.date }}";

    window.senderinitial = "{{ data.sender.fullname }}";

    window.iteminitial = "{{ data.event.subject.id }}";

{% endif %}

{# this should be using real data #}

window.modules = {
        "find" : { 
            "translations" : {
                "{{ app.locale }}" : "{{ "find" | translate }}"
                },
            "paths" : {
                "en" : "finds",
                "da" : "fund"
                }
            }
}

</script>

<div class="dime-messages"></div>
