{# Define the standard navbar block #}
{% block nav %}

    {% set active = (nav.route and nav.route == path.route) ? "active" : "" %}
    {% if nav.icon %}
        {% set size = (active ? "normal" : "small" )%}
        <span class="dime-icon icon-{{ nav.icon }} {{ size }}"></span>
    {% endif %}
    {% if nav.route %}
        <a class="{{ active }}" href="{{ path(nav.route) }}">
            {{ nav.keyword | translate }}
        </a>
    {% endif %}

{% endblock nav %}
