{# Define the notifications block #}
{% block notifications %}

{% if state.notifications | length %}
    {%  set notificationicon = 'icon-new-notification small wide' %}
{% else %}
    {%  set notificationicon = 'icon-notification small' %}
{% endif %}

    <a data-toggle="dropdown" class="dropdown-toggle" href="">
        <span class="dime-icon dimehometool-icon {{ notificationicon }} "></span>
            {{ "core.message.messages" | translate }}
    </a>
    <div class="dropdown-menu messages">
        <span class="notification-dropdown-header">
            <span class="count">
                    {{ state.notifications | length }}
            </span>
            {{ "core.message.newmessages" | translate }}
        </span>
        <ul class="list-group">
            {% for notification in state.notifications[0:5] %}
                <li>
                    {% include "blocks/notification.html.twig" with {'notification': notification} %}
                </li>
            {% endfor %}
        </ul>
        {% if state.notifications | length > 5 %}
            <div class="notification-dropdown-info">
                <a href = " {{ path( 'dime.home.messages' ) }}">
                    {{ state.notifications | length - 5 }} {{ 'core.message.notshown' | translate }}
                </a>
            </div>
        {% endif %}
        <span class="notification-dropdown-footer">
            <a href = " {{ path( 'dime.home.messages' ) }}">
                {{ "core.message.allmessages" | translate }}
           </a>
        </span>
    </div>
{% endblock notifications %}
