{# Define the standard share block #}

{% block share %}

{% if data is defined and data is not null and data.visibility.name == 'public' and data.value('image') | length > 0 %}

    {% set sharetext = 'dime.share.text' | translate | url_encode %}
    {% set hashtags = 'dime.share.hashtags' | translate | url_encode %}
    {% if global.request.attributes.get('_route') == 'dime.finds.register' %}
        {% set sharelink = data.value('image')[0].sourceUrl() | url_encode %}
        {% set btns = 'btn btn-social-icon btn-lg' %}
    {% else %}
        {% set sharelink = global.request.getUri() | url_encode %}
        {% set btns = 'btn btn-social-icon btn-xs' %}
    {% endif %}
    {% set fb = "https://www.facebook.com/sharer.php?u=" ~ sharelink %}
    {% set plus = "https://plus.google.com/share?url=" ~ sharelink %}
    {% set tweet = "https://twitter.com/intent/tweet?url=" ~ sharelink ~ "&text=" ~ sharetext ~ "&hashtags=" ~ hashtags %}
    {% set pin = "https://pinterest.com/pin/create/button/?url=" ~ sharelink ~ "&description=" ~ sharetext %}

    <div>

        <a class="{{ btns }} btn-facebook"
           href="{{ fb }}"
           target="popup"
           onclick="windowPopup('{{ fb }}', 600, 300); return false;"
        >
            <span class="fa fa-facebook"></span>
        </a>

        <a class="{{ btns }} btn-twitter"
           href="{{ tweet }}"
           target="popup"
           onclick="windowPopup('{{ tweet }}', 600, 300); return false;"
        >
            <span class="fa fa-twitter"></span>
        </a>

        <a class="{{ btns }} btn-google"
           href="{{ plus }}"
           target="popup"
           onclick="windowPopup('{{ plus }}', 600, 300); return false;"
        >
            <span class="fa fa-google"></span>
        </a>

        <a class="{{ btns }} btn-pinterest"
           href="{{ pin }}"
           target="popup"
           onclick="windowPopup('{{ pin }}', 600, 300); return false;"
        >
            <span class="fa fa-pinterest"></span>
        </a>

    </div>

{% endif %}

{% endblock share %}
