{# Define the standard navbar block #}
{% block usertool %}

    {% if global.user %}
        <div class="row usertool username">
            <a href="{{ path('dime.home.profile') }}">
                {% if workflow.actor.value('avatar') %}
                {% set path = imagePath('file', workflow.actor.value('avatar').id, {'p': 'preview'}) %}
                    <img class = "profile-img" src="{{ path }}"/>
                {% endif %}
                <span class="usergreeting">
                    {{ 'user.greeting' | trans({ '%name%': global.user.displayName }) }}
                </span>
            </a>
        </div>
        <div class="row usertool">
            {% if state.notifications is defined %}
                {% if state.notifications | length %}
                    {%  set notificationicon = 'icon-new-notification small wide' %}
                {% else %}
                    {%  set notificationicon = 'icon-notification small' %}
                {% endif %}
                <a href = " {{ path( 'dime.home.messages' ) }}">
                    <span class="dime-icon dimehometool-icon {{ notificationicon }} "></span>
                </a>
            {% endif %}
            <p>
            <a href="{{ path('core.user.logout') }}" class="loginbutton">
                <span class=" dime-icon glyphicon glyphicon-log-out logout"></span>
                <span class="text">logout</span>
            </a>
        </div>
    {% else %}
        <div class="row usertool">
            <a href="#" data-toggle="modal" data-target="#login-modal" class="loginbutton">
                <span class=" dime-icon glyphicon glyphicon-log-in login"></span>
                <span class="text">login</span>
            </a>
        </div>
    {% endif %}

{% endblock usertool %}
