{# Define the standard navbar block #}
{% block usertool %}

    {% if global.user %}
        <div class="row usertool username">
                <span class="dime-icon icon-user small"></span>
                {{ 'user.greeting' | trans({ '%name%': global.user.displayName }) }}
            <a href="{{ path('user.logout') }}" class="loginbutton">
                <span class=" dime-icon glyphicon glyphicon-log-out logout"></span>
                <span class="text">logout</span>
            </a>
        </div>
        <div class="row usertool useractions">
                <a href="{{ path('user.view', {'id': global.user.id}) }}">
                    {{ 'user.menu.home' | trans }}
                </a>

            <span class="dime-icon icon-user-edit small"> </span>

            <a href="{{ path('user.edit', {'id': global.user.id})  }}">
                    {{ 'user.menu.edit' | trans }}
            </a></li>
        </div>
        
        {% if data.notifications is defined %}
            <div class="row usertool">
                {% include "blocks/notifications.html.twig" with { 'data':data } %}
            </div>
        {% endif %}
    {% else %}
        <div class="row usertool">
            <a href="#" data-toggle="modal" data-target="#login-modal" class="loginbutton">
                <span class=" dime-icon glyphicon glyphicon-log-in login"></span>
                <span class="text">login</span>
            </a>
        </div>
    {% endif %}

{% endblock usertool %}
