{# Standard table layout using only HTML5/Bootstrap #}

<div>

    {% set table_class %}
    table bootstrap-table table-hover dime-table
    {% endset %}

    <table
        id="{{layout.name}}"
        class="{{table_class}}"
        data-toggle="table"
        data-classes="{{table_class}}"
        data-sort-name="{{layout.elements[0].name}}"
        {#data-show-refresh="true"#}
        data-show-toggle="true"
        data-show-columns="true"
        data-mobile-responsive="true"
        data-show-export="true"
        data-switchcardview="true"
    >

        <thead>
            <tr>
            <th class="thumbimagehead" data-field="image" data-title="image" data-sortable="false">

             </th>
                {% for field in layout.elements %}
                    {% if field.attribute.name == 'id' %}
                        <th data-field="{{field.name}}" data-title="{{field.keyword|trans}}" data-sortable="true">
                    {% else %}
                        <th data-field="{{field.name}}" data-title="{{field.keyword|trans}}" data-sortable="true" data-card-visible="false">
                    {% endif %}
                    {{field.keyword|trans}}
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in data[layout.name] %}
                <tr data-unique-id = "{{ item.id }}" >
                    <td class="thumbimage">
                            {% set images = item.property('image').value() %}
                            {% if images is not empty %}
                                <img src="{{path('img', {'image': 'thumb.'~images[0]})}}" alt='' />
                            {% endif %}
                    </td>
                    {% for field in layout.elements %}
                        <td>
                            {% if field.attribute.name == 'id' %}
                                {% set itempath = path('finds.view', {'itemSlug': item.id}) %}
                                <a href="{{ itempath }}">{{ field.renderView(item) }}</a>
                            {% else %}
                                {{ field.renderView(item) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
