{# Custom Find layout with multiple forms embedded in dual-column layout #}

{% set itemGrid = children[0][0][0] %}
{% set itemCol1 = itemGrid.children[0][0] %}
{% set itemCol2 = itemGrid.children[0][1] %}
{% set workflowGrid = children[0][0][1] %}

<div class="row">

    {{ form_start(forms.find) }}

    <div class="col-md-6">
        {% for child in itemCol1 %}
            {{ child.element.renderView(child, forms, forms.find) | raw }}
        {% endfor %}
    </div>

    <div class="col-md-6">
        {% for child in itemCol2 %}
            {{ child.element.renderView(child, forms, forms.find) | raw }}
        {% endfor %}
        {{ form_end(forms.find) }}
        <hr />
        <h4>{{ label | translate }}</h4>
        {{ form_start(forms.workflow) }}
        {{ workflowGrid.element.renderView(workflowGrid, forms, forms.workflow) | raw }}
        {{ form_end(forms.workflow) }}
    </div>

</div>
