{# Define the map layout #}

{% use "blocks/mapconfig.twig.html" %}

<div id="mapview" class="mapview">

    <div class="btn-group dropdown map layer-select">
        <button class="btn btn-default dropdown-toggle layer-select" type="button" id="mapLayerMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dime-icon icon-map small"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu layer-select" aria-labelledby="mapLayerMenu">
            {% set config = [] %}
            {% if state.map.layers is defined %}
              {% for layer in state.map.layers %}
                  {% if layer.isDefault %}
                      <li><a class="layer-select selected" value="{{ layer.name }}">{{ layer | translate }}</a></li>
                  {% else %}
                      <li><a class="layer-select" value="{{ layer.name }}">{{ layer | translate }}</a></li>
                  {% endif %}
              {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="btn-group dropdown map style-select">
        <button class="btn btn-default dropdown-toggle style-select" type="button" id="mapStyleMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dime-icon icon-heatmap small"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu style-select" aria-labelledby="mapStyleMenu">
            {% if data['finds'] %}
                <li><a class="style-select-option" value="distribution">{{ 'map.style.distribution' | translate }}</a></li>
            {% endif %}
            <li><a class="style-select-option" value="choropleth">{{ 'map.style.choropleth' | translate }}</a></li>
            <li><a class="style-select-option" value="none">{{ 'map.style.none' | translate }}</a></li>
        </ul>
    </div>

    <div id="map" class="map search_map"></div>

        <div id="map-legend" class="map-legend">
            <span class="map-legend-label">{{ 'map.legend.max' | translate }}</span>
            <div class="legend-image"></div>
            <span class="map-legend-label">{{ 'map.legend.min' | translate }}</span>
        </div>

        {{ block('mapconfig') }}

        <script>

            points = [];

            {% if data['finds'] %}

                var default_overlay = "distribution";

                {% for item in data['finds'] %}
                    {% set location = item.value('location') %}
                    {% if location %}
                        points[{{ item.id }}] = '{{ location }}';
                    {% endif %}
                {% endfor %}

            {% else %}

                var default_overlay = "choropleth";

            {% endif %}
        </script>

    </div>

</div>
