{# Standard table layout using only HTML5/Bootstrap #}

<div>

    {% set table_class %}
        table bootstrap-table table-hover
    {% endset %}

    <table 
    	id="{{layout.name}}"
    	class="{{table_class}}"
        data-toggle="table"
        data-classes="{{table_class}}"
        data-sort-name="{{layout.elements[0].name}}"
        {#data-show-refresh="true"#}
        data-show-toggle="true"
        data-show-columns="true"
        data-mobile-responsive="true"
        data-switchcardview="true"
    >

        <thead>
            <tr>
                {% for field in layout.elements %}
                    <th
                    	data-field="{{field.name}}"
                        data-title="{{field.keyword|trans}}"
        				data-sortable="true"
                    >
                        {{field.keyword|trans}}
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in data %}
                <tr>
                    {% for field in layout.elements %}
                        <td>
                            {% if item.property(field.attribute.name).value is not null %}
                                {{ item.property(field.attribute.name).value['content'] }}
                            {% else %}
                                {{ field.attribute.name }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
