{# DIME treasure form layout #}

<div class="container-fluid">

<div class="row"><h1>Fundliste</h1></div>

<div class="row">
    <div class="col-md-4">
        <div class="row">{{ data.museum.value('id') }}</div>
        <div class="row">{{ data.museum.value('fullname') }}</div>
        <div class="row">{{ data.museum.value('email') }}</div>
        <div class="row">{{ data.museum.value('telephone') }}</div>
        <div class="row">{{ data.agent.value('fullname') }}</div>
        <div class="row">{{ "now" | date('Y-m-d') }}</div>
    </div>
    <div class="col-md-4">
        <div class="row">{{ data.claimant.value('fullname') }}</div>
        <div class="row">{{ data.claimant.value('email') }}</div>
        <div class="row">{{ data.claimant.value('telephone') }}</div>
        <div class="row">{{ data.claimant.value('detectorist_id') }}</div>
    </div>
    <div class="col-md-4">
        <div class="row">Nationalmuseet</div>
    </div>
</div>

<div class="row">
    <table class="table">

        <thead>
            <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-6">Details</th>
                <th class="col-md-2">Photos</th>
                <th class="col-md-2">Nationalmuseet</th>
            </tr>
        </thead>

        <tbody>

            {% for find in data.finds %}

                <tr>

                    <td>
                        {{ find.value('museum_id') }}
                    </td>

                    <td>
                        <div class="row">
                            {{ find.value('class') | translate }}
                            {% if find.value('classification') %}
                                / {{ find.value('classification').subtype | translate }}
                            {% endif %}
                        </div>
                        <div class="row">
                            {{ find.value('material') | translate }}
                        </div>
                        <div class="row">
                            {{ find.value('finddate') | date('Y-m-d') }}
                        </div>
                        <div class="row">
                            {{ find.value('municipality') | translate }}
                        </div>
                        {% if find.value('description').text %}
                            <div class="row">
                                {{ find.value('description').text }}
                            </div>
                        {% endif %}
                    </td>

                    <td>
                        {% set images = find.value('image') %}
                        {% for image in images %}
                            <img src="{{ image.sourceUrl('thumb') }}" alt="" / />
                        {% endfor %}
                    </td>

                    <td>
                    </td>

                </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
</div>
